In [1]:
#Install library
!pip install latent_ideology

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting latent_ideology
  Downloading latent_ideology-0.0.3-py3-none-any.whl (7.0 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from latent_ideology) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from latent_ideology) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from latent_ideology) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->latent_ideology) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->latent_ideology) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->latent_ideology) (1.15.0)
Installing collected packages: latent-ideology
Successfully installed latent-ideology-0.0.3

Let's import the libraries needed and let's make a simple 'connection dataframe'

In [18]:
from latent_ideology.latent_ideology_class import latent_ideology as li
import pandas as pd

data = {'user':['Pepe','Carlos','Fede','Pepe','Fede','Fede'], 'source':['s1','s1','s3','s3','s2','s2']}
df = pd.DataFrame(data)
df

     user source
0    Pepe     s1
1  Carlos     s1
2    Fede     s3
3    Pepe     s3
4    Fede     s2
5    Fede     s2

This dataframe can be viewed as: 

-  user 'Fede' has interacted with source s1
-  user 'Carlos' has interacted with source s1
-  etc, etc

The simplest thing to do next is to apply the method:

We need to specify the **filtering** considered:
-  m: number of sources to considered. (default: all) 
-  n: minimum of distinct sources that a target needs to interact with so as to be part of the adjacency matrix. (default n=2)

Take into account that the sources are ordered decreasingly, so that the sources that had interacted with the majority of the targets are at the top while those that don't interact that frequently with the targets, are positioned at the bottom. 

We also need to tell the function how did I called the targets (users, names, etc) and the sources (newspapers, influencers, etc)

The output of this function consists of 2 dataframes: the first one is related with the score of the targets and the second one is related with the score of the sources.

In [23]:
#we call the method with our example matrix
li_matrix = li(df)

#Lets apply the method!
df1, df2 = li_matrix.apply_method(n=2,targets='user', sources='source')

#We can print the results
print(df1,'\n',df2)

  target  score
0   Fede   -1.0
1   Pepe    1.0
   source  score
0     s1    1.0
1     s3    0.0
2     s2   -1.0

Alternatively, one might want to apply the method step by step so as to better understand the proccedure.

Lets create the adjacency matrix given our input matrix. We can play with the parameters, so let's set n=1, m=all (default).

This will work but you might ask yourself *'n=1 won't trigger any polarization, so whats the purpuse of life then?'*

Yeah, you're right but this is just an example.

In [25]:
adj_mat = li_matrix.make_adjacency(n=1, targets='user', sources='source')
adj_mat

         s1   s2   s3
target
Carlos  1.0  0.0  0.0
Fede    0.0  2.0  1.0
Pepe    1.0  0.0  1.0

We can calculate the scores of the targets then

In [28]:
A = adj_mat.to_numpy() #to numpy matrix
scores_targets = li_matrix.calculate_scores(A)
print(scores_targets)

[[-1.        ]
 [ 1.        ]
 [-0.30277564]]

For the source's scores, following the bibliography, you may want to consider the mean of the scores of the targets. Alternatively (this is not in the bibliography), you may consider applying the method to the transposed adjacency matrix:

In [29]:
B = A.T #transposed matrix
scores_sources = li_matrix.calculate_scores(B)
print(scores_sources)

[[ 1.        ]
 [-1.        ]
 [-0.21110255]]

The above shorcut can be easily applied by the following function:

In [31]:
df1a, df2a = li_matrix.apply_simplified_method(adj_mat)
print(df1a, '\n', df2a)

   target     score
0  Carlos -1.000000
1    Fede  1.000000
2    Pepe -0.302776
   source     score
0     s1  1.000000
1     s2 -1.000000
2     s3 -0.211103